In [30]:
import pandas as pd
import datetime as dt

pd.options.display.max_columns=1000
pd.options.display.max_rows = 100

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [33]:
%run ../../configs.ipynb

In [34]:
# parameter cell
file_name = 'oct_21.csv'

In [35]:
# Parameters
file_name = "april_21.csv"

# RRC Prod

## Ingest

In [36]:
production = pd.read_csv(f'{raw_data_folder}/rrc_prod_blackbeard/2021/{file_name}', header = 5)

In [37]:
production.head()

,Multiple Reports,Lease Type,District,RRC Identifier,Field Name,Lease Name,Gas Well ID,Lease Total,Commingle Permit No.,On Hand Beginning of Month,Production,Volume,Code,On Hand End of Month,Formation Production,Volume.1,Code.1
0,NaN,Gas,05,164066.0,DUBOIS (BARNETT),MILES,1,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN
1,NaN,Gas,7B,211352.0,"GRANBURY, N.E. (ATOKA)",LANGDON,2,NaN,5422.0,4,0,NaN,NaN,4,0,NaN,NaN
2,NaN,Gas,7B,212409.0,"GRANBURY, N.E. (ATOKA)","JOHN J. MILES, JR. GAS UNIT",4,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN
3,NaN,Gas,7B,228695.0,"GRANBURY, N.E. (ATOKA)",LUCY UNIT,2,NaN,5699.0,12,0,NaN,NaN,12,206,206,3.0
4,NaN,Gas,7B,228926.0,"GRANBURY, N.E. (ATOKA)","MARSHALL, SAM A",2,NaN,NaN,0,0,NaN,NaN,0,0,NaN,NaN

In [40]:
production.District.value_counts()

10    1572
09    1088
08     466
7B       6
05       1
Name: District, dtype: int64

## Transform RRC

### Filter to District

In [41]:
#converting data field to string to handle varying schema interpreations 
#(certain months field will be interpreted as float and string depending sample rows pandas uses

production = production.loc[production['District'].astype(str).isin(['8.0', '08', '8'])]

In [42]:
production

,Multiple Reports,Lease Type,District,RRC Identifier,Field Name,Lease Name,Gas Well ID,Lease Total,Commingle Permit No.,On Hand Beginning of Month,Production,Volume,Code,On Hand End of Month,Formation Production,Volume.1,Code.1
7,NaN,Oil,08,32907.0,ARMER (TUBB),"MCCAMEY, G. B. ""A"" (NCT-B)",NaN,NaN,7024.0,206,25,NaN,NaN,231,0,NaN,NaN
8,NaN,Oil,08,20550.0,ARMER (6350),"MCCAMEY, G. B., -A- /NCT-A/",NaN,NaN,7024.0,78,0,NaN,NaN,78,0,NaN,NaN
9,NaN,Oil,08,45314.0,ARMER (6350),RAYDEN MCCAMEY,NaN,NaN,NaN,452,111,164,1.0,399,"2,214","2,214",2.0
10,NaN,Oil,08,48393.0,ARMER (6350),LANDLUBBER,NaN,NaN,8026.0,"2,356","8,839","9,146",0.0,"2,049","23,545","23,545",2.0
11,NaN,Oil,08,49425.0,ARMER (6350),6 POUNDER NE,NaN,NaN,8026.0,446,"1,057","1,195",0.0,308,"5,160","5,160",2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,NaN,Gas,08,160203.0,WADDELL (GRAYBURG),"WADDELL, W.N.",310,NaN,8988.0,0,0,NaN,NaN,0,0,NaN,NaN
473,NaN,Gas,08,190864.0,WADDELL (GRAYBURG),"WADDELL, W.N.",890,NaN,8988.0,0,0,NaN,NaN,0,0,NaN,NaN
474,NaN,Gas,08,190926.0,WADDELL (GRAYBURG),"WADDELL, W.N.",293,NaN,3501.0,22,20,35,1.0,7,244,244,2.0
475,NaN,Gas,08,205775.0,WADDELL (GRAYBURG),"WADDELL, W. N.",1200,NaN,8092.0,14,34,36,1.0,12,524,524,2.0
476,NaN,Oil,08,20361.0,"-Y-, SOUTH (TUBB)","WADDELL, W.N. ET AL TR. -I-",NaN,NaN,3803.0,0,0,NaN,NaN,0,0,NaN,NaN

In [43]:
production.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466 entries, 7 to 476
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Multiple Reports            19 non-null     object
 1   Lease Type                  411 non-null    object
 2   District                    466 non-null    object
 3   RRC Identifier              466 non-null    float64
 4   Field Name                  466 non-null    object
 5   Lease Name                  466 non-null    object
 6   Gas Well ID                 236 non-null    object
 7   Lease Total                 14 non-null     object
 8   Commingle Permit No.        278 non-null    float64
 9   On Hand Beginning of Month  464 non-null    object
 10  Production                  466 non-null    object
 11  Volume                      215 non-null    object
 12  Code                        215 non-null    float64
 13  On Hand End of Month        466 non-null    object
 14  Formation Production        426 non-null    object
 15  Volume.1                    286 non-null    object
 16  Code.1                      286 non-null    float64
dtypes: float64(4), object(13)
memory usage: 65.5+ KB

### Clean Oil Production Columns and Convert to Int

In [44]:
production['Volume'] = production.loc[:,'Volume'].fillna(0).apply(lambda x: int(str(x).replace(',', '')))
production['Volume.1'] = production.loc[:,'Volume.1'].fillna(0).apply(lambda x: int(str(x).replace(',', '')))

/var/folders/sj/kb7kr7w572z54pgv0pftb9v00000gn/T/ipykernel_40964/1394010457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  production['Volume'] = production.loc[:,'Volume'].fillna(0).apply(lambda x: int(str(x).replace(',', '')))
/var/folders/sj/kb7kr7w572z54pgv0pftb9v00000gn/T/ipykernel_40964/1394010457.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  production['Volume.1'] = production.loc[:,'Volume.1'].fillna(0).apply(lambda x: int(str(x).replace(',', '')))

### Rename Volume to rrc_oil_volume

In [45]:
production.rename(columns = {'Volume': 'rrc_oil_volume'}, inplace = True)
production.rename(columns = {'Volume.1': 'rrc_gas_volume'}, inplace = True)

/Users/Mishaun_Bhakta/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [46]:
production['rrc_oil_volume'].sum()
production['rrc_gas_volume'].sum()

431732

1667263

### Normalize Field and Reservoir Names with Text Cleaning

In [12]:
production["Normalized_Field_Name"] = production['Field Name'].dropna()\
                                                            .apply(lambda x: str(x).split('(')[0]\
                                                                                    .split(',')[0]\
                                                                                    .strip())

In [13]:
production["Normalized_Reservoir_Name"] = production['Field Name'].dropna()\
                                        .apply(lambda x: str(x).split('(')[-1]\
                                                               .strip().replace(')',''))

### Get Date from Production File

In [14]:
def get_date_from_csv(filepath, col_number, row_number):
    str_date = pd.read_csv(filepath, usecols = [col_number]).iloc[row_number].values[0]
    return str_date.strip()

In [15]:
get_date_from_csv(f'{raw_data_folder}/rrc_prod_blackbeard/2021/{file_name}', 3, 1)

'Apr 2021'

### Add Production Date to Production Data Frame

In [16]:
production.insert(0, 'Date', get_date_from_csv(f'{raw_data_folder}/rrc_prod_blackbeard/2021/{file_name}', 3, 1))

In [17]:
production

,Date,Multiple Reports,Lease Type,District,RRC Identifier,Field Name,Lease Name,Gas Well ID,Lease Total,Commingle Permit No.,On Hand Beginning of Month,Production,rrc_oil_volume,Code,On Hand End of Month,Formation Production,rrc_gas_volume,Code.1,Normalized_Field_Name,Normalized_Reservoir_Name
7,Apr 2021,NaN,Oil,08,32907.0,ARMER (TUBB),"MCCAMEY, G. B. ""A"" (NCT-B)",NaN,NaN,7024.0,206,25,0,NaN,231,0,0,NaN,ARMER,TUBB
8,Apr 2021,NaN,Oil,08,20550.0,ARMER (6350),"MCCAMEY, G. B., -A- /NCT-A/",NaN,NaN,7024.0,78,0,0,NaN,78,0,0,NaN,ARMER,6350
9,Apr 2021,NaN,Oil,08,45314.0,ARMER (6350),RAYDEN MCCAMEY,NaN,NaN,NaN,452,111,164,1.0,399,"2,214",2214,2.0,ARMER,6350
10,Apr 2021,NaN,Oil,08,48393.0,ARMER (6350),LANDLUBBER,NaN,NaN,8026.0,"2,356","8,839",9146,0.0,"2,049","23,545",23545,2.0,ARMER,6350
11,Apr 2021,NaN,Oil,08,49425.0,ARMER (6350),6 POUNDER NE,NaN,NaN,8026.0,446,"1,057",1195,0.0,308,"5,160",5160,2.0,ARMER,6350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,Apr 2021,NaN,Gas,08,160203.0,WADDELL (GRAYBURG),"WADDELL, W.N.",310,NaN,8988.0,0,0,0,NaN,0,0,0,NaN,WADDELL,GRAYBURG
473,Apr 2021,NaN,Gas,08,190864.0,WADDELL (GRAYBURG),"WADDELL, W.N.",890,NaN,8988.0,0,0,0,NaN,0,0,0,NaN,WADDELL,GRAYBURG
474,Apr 2021,NaN,Gas,08,190926.0,WADDELL (GRAYBURG),"WADDELL, W.N.",293,NaN,3501.0,22,20,35,1.0,7,244,244,2.0,WADDELL,GRAYBURG
475,Apr 2021,NaN,Gas,08,205775.0,WADDELL (GRAYBURG),"WADDELL, W. N.",1200,NaN,8092.0,14,34,36,1.0,12,524,524,2.0,WADDELL,GRAYBURG
476,Apr 2021,NaN,Oil,08,20361.0,"-Y-, SOUTH (TUBB)","WADDELL, W.N. ET AL TR. -I-",NaN,NaN,3803.0,0,0,0,NaN,0,0,0,NaN,-Y-,TUBB

### Add columns for net production to Trust

In [18]:
production['Net Oil Volume to Trust (RRC)'] = production['rrc_oil_volume'] * 0.50
production['Net Oil Sales Volume to Trust (RRC)'] = production['rrc_oil_volume'] * 0.50 * 0.75

In [19]:
production['Net Gas Volume to Trust (RRC)'] = production['rrc_gas_volume'] * 0.50
production['Net Gas Sales Volume to Trust (RRC)'] = production['rrc_gas_volume'] * 0.50 * 0.75

In [20]:
production

,Date,Multiple Reports,Lease Type,District,RRC Identifier,Field Name,Lease Name,Gas Well ID,Lease Total,Commingle Permit No.,On Hand Beginning of Month,Production,rrc_oil_volume,Code,On Hand End of Month,Formation Production,rrc_gas_volume,Code.1,Normalized_Field_Name,Normalized_Reservoir_Name,Net Oil Volume to Trust (RRC),Net Oil Sales Volume to Trust (RRC),Net Gas Volume to Trust (RRC),Net Gas Sales Volume to Trust (RRC)
7,Apr 2021,NaN,Oil,08,32907.0,ARMER (TUBB),"MCCAMEY, G. B. ""A"" (NCT-B)",NaN,NaN,7024.0,206,25,0,NaN,231,0,0,NaN,ARMER,TUBB,0.0,0.000,0.0,0.000
8,Apr 2021,NaN,Oil,08,20550.0,ARMER (6350),"MCCAMEY, G. B., -A- /NCT-A/",NaN,NaN,7024.0,78,0,0,NaN,78,0,0,NaN,ARMER,6350,0.0,0.000,0.0,0.000
9,Apr 2021,NaN,Oil,08,45314.0,ARMER (6350),RAYDEN MCCAMEY,NaN,NaN,NaN,452,111,164,1.0,399,"2,214",2214,2.0,ARMER,6350,82.0,61.500,1107.0,830.250
10,Apr 2021,NaN,Oil,08,48393.0,ARMER (6350),LANDLUBBER,NaN,NaN,8026.0,"2,356","8,839",9146,0.0,"2,049","23,545",23545,2.0,ARMER,6350,4573.0,3429.750,11772.5,8829.375
11,Apr 2021,NaN,Oil,08,49425.0,ARMER (6350),6 POUNDER NE,NaN,NaN,8026.0,446,"1,057",1195,0.0,308,"5,160",5160,2.0,ARMER,6350,597.5,448.125,2580.0,1935.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,Apr 2021,NaN,Gas,08,160203.0,WADDELL (GRAYBURG),"WADDELL, W.N.",310,NaN,8988.0,0,0,0,NaN,0,0,0,NaN,WADDELL,GRAYBURG,0.0,0.000,0.0,0.000
473,Apr 2021,NaN,Gas,08,190864.0,WADDELL (GRAYBURG),"WADDELL, W.N.",890,NaN,8988.0,0,0,0,NaN,0,0,0,NaN,WADDELL,GRAYBURG,0.0,0.000,0.0,0.000
474,Apr 2021,NaN,Gas,08,190926.0,WADDELL (GRAYBURG),"WADDELL, W.N.",293,NaN,3501.0,22,20,35,1.0,7,244,244,2.0,WADDELL,GRAYBURG,17.5,13.125,122.0,91.500
475,Apr 2021,NaN,Gas,08,205775.0,WADDELL (GRAYBURG),"WADDELL, W. N.",1200,NaN,8092.0,14,34,36,1.0,12,524,524,2.0,WADDELL,GRAYBURG,18.0,13.500,262.0,196.500
476,Apr 2021,NaN,Oil,08,20361.0,"-Y-, SOUTH (TUBB)","WADDELL, W.N. ET AL TR. -I-",NaN,NaN,3803.0,0,0,0,NaN,0,0,0,NaN,-Y-,TUBB,0.0,0.000,0.0,0.000

### Write to File

In [21]:
production.to_csv(f'{processed_data_folder}/rrc_prod/{file_name}', index = False)

## Aggregated EDA

In [22]:
production.groupby(['Normalized_Field_Name']).agg({'rrc_oil_volume': 'sum'})\
                                            .sort_values(by = 'rrc_oil_volume', ascending= False)\
                                            .head(15)

                       rrc_oil_volume
Normalized_Field_Name
SAND HILLS                     236789
MONAHANS                        83549
ARMER                           46415
DUNE                            19709
UNIVERSITY WADDELL              10092
MARSTON RANCH                    9704
KEYSTONE                         8828
WADDELL                          7453
RUNNING W                        3304
CORDONA LAKE                     2113
KERMIT                           1343
LEA                               901
SHAFTER LAKE                      835
COWDEN                            361
BLOCK 31                          178

In [23]:
production.groupby(['Normalized_Reservoir_Name', 'Normalized_Field_Name']).agg({'rrc_oil_volume': 'sum'}).sort_values(by = 'rrc_oil_volume', ascending= False).sort_index()

                                                 rrc_oil_volume
Normalized_Reservoir_Name Normalized_Field_Name
6350                      ARMER                           46415
7900                      EDWARDS -04-                        0
CLEAR FORK                LEA                               259
                          MONAHANS                            0
                          SAND HILLS                      62248
CLEAR FORK 4070           SAND HILLS                        346
CLEAR FORK, LOWER         MCKEE                               0
CLEAR FORK, MID.          MCKEE                               0
CLEARFORK                 MARSTON RANCH                    9704
                          MONAHANS                        77626
                          RM                                  0
COLBY                     KEYSTONE                         1638
CONSOLIDATED              KEYSTONE                         5750
CORDONA LAKE              CORDONA LAKE                        0
COWDEN, NORTH             COWDEN                            361
DEV.                      CORDONA LAKE                     1826
DEVONIAN                  CORDONA LAKE                      242
                          UNIVERSITY WADDELL               9239
                          WADDELL                           335
DUNE                      DUNE                            19701
ELLENBURGER               KERMIT                           1003
                          SAND HILLS                        808
                          UNIVERSITY WADDELL                  0
GRAYBURG                  GOLDSMITH                           0
                          WADDELL                           492
HOLT                      RUNNING W                         114
                          SAND HILLS                          0
JUDKINS                   SAND HILLS                      12174
KERMIT                    KERMIT                            165
MCKEE                     BLOCK 27                            0
                          KERMIT                            175
                          RUNNING W                           0
MCKNIGHT                  SAND HILLS                      40271
MONAHANS, NORTH           MONAHANS                         5923
ORDOVICIAN                SAND HILLS                          0
PENN UPPER                BLOCK 31                          178
PENN.                     G. P. M.                            0
                          UNIVERSITY WADDELL                 31
QUEEN                     GOLDSMITH                           0
SAN ANDRES                C-BAR                               0
                          DELL                              158
                          KEYSTONE                         1440
                          LEA                                41
                          SHAFTER LAKE                      835
SAN ANDRES CONS.          CRAWAR                              0
SAN ANDRES, CON.          GOLDSMITH                           0
SAN ANGELO                LEA                               601
                          SAND HILLS                        436
SAN ANGELO, UPPER         SAND HILLS                      24750
TUBB                      -Y-                                 0
                          ARMER                               0
                          BLOCK B-21                          0
                          RUNNING W                        1085
                          SAND HILLS                      39355
TUBB 4500                 CORDONA LAKE                       45
WADDELL                   RUNNING W                        1115
                          WADDELL                          6626
WADDELL SD.               UNIVERSITY WADDELL                822
WICHITA-ALBANY            RUNNING W                         990
                          SAND HILLS                      27978
WICHITA-ALBANY, GAS       SAND HILLS                        379
WOJCIK-MCELROY            SAND HILLS                        210
WOLFCAMP                  DUNE                                8
                          MCKEE                               0
                          SAND HILLS                      27834
YATES                     KERMIT                              0